                #root {
                    margin: 0;
                    padding: 0;
                    border: 0;
                    font-family: Arial, Helvetica, sans-serif;
                }
                
                .header-box {
                    padding-bottom: 28px;
                }
                
                .navbar {
                    height: 72px;
                    width: 1440px;
                    background-color: #F9F9FB40;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                
                .nav-logo {
                    height: Hug(46px);
                    width: 1199.55px;
                    display: flex;
                    top: 13px;
                    left: 120px;
                    justify-content: space-evenly;
                }
                
                .logo {
                    width: 126.55px;
                    height: 32px;
                    background-size: cover;
                }
                
                .checkout-box {
                    width: Hug (101px)px;
                    height: Hug (22px)px;
                    display: flex;
                    gap: var(--spacing--sp-8);
                    opacity: 0px;
                }
                
                .Lock-logo {
                    height: 20px;
                    width: 20px;
                    background: var(--colors-fill---c-fill-grey-solid, #7E808A);
                    background-color: aliceblue;
                }
                
                .nav-checkout {
                    font-family: open sans;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 22px;
                    text-align: left;
                    background: var(--colors-text---c-text-grey-secondary, #60646C);
                    background-color: #F9F9FB40;
                }
                
                .help-box {
                    width: Hug (91px)px;
                    height: Hug (46px)px;
                    display: flex;
                    padding: var(--spacing--sp-12) var(--spacing--sp-16) var(--spacing--sp-12) var(--spacing--sp-16);
                    gap: var(--spacing--sp-4);
                    border-radius: var(--radii--r-12);
                    opacity: 0px;
                }
                
                .help-logo {
                    width: 16.25px;
                    height: 16.25px;
                    top: 1.88px;
                    left: 1.88px;
                    gap: 0px;
                    opacity: 0px;
                    /* background: var(--Grey-Light---c-l-grey-10, #1C2024); */
                }
                
                .nav-help {
                    font-family: Open Sans;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19px;
                    text-align: right;
                    background: var(--colors-text---c-text-grey-primary, #1C2024);
                    background-color: #F9F9FB40;
                }
                /* ########################################################################################################  */
                /* .panel {
        
        width: 1440px;
        background-color: black;
    } */
                
                .panel-content {
                    background-color: black;
                    color: white;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: Open Sans;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 20px;
                }
                
                .section-box {
                    box-sizing: border-box;
                    /* padding-left: 120px; */
                }
                
                .confirmpay-box {
                    width: 792px;
                    height: 92px;
                    padding: var(--spacing--sp-0) var(--spacing--sp-0) var(--spacing--sp-28) var(--spacing--sp-0);
                    gap: var(--spacing--sp-28);
                    opacity: 0px;
                }
                
                .confirmpay-content {
                    width: 792px;
                    height: 64px;
                    gap: 0px;
                    opacity: 0px;
                    font-family: Roboto Serif;
                    font-size: 57px;
                    font-weight: 500;
                    line-height: 64px;
                    letter-spacing: 0.006em;
                    text-align: left;
                }
                
                .freecancelation {
                    width: 792px;
                    height: 82px;
                    box-sizing: border-box;
                    gap: var(--spacing--sp-0);
                    border-radius: 1rem;
                    border: 1px solid black;
                    opacity: 0px;
                    background-color: white;
                }
                /* .info {
        height: 16px;
        width: 16px;
        justify-content: center;
        align-items: center;
    } */
                
                .freecancelation-content {
                    width: 720px;
                    height: 50px;
                    padding: 16px 0px 16px 34px;
                    /* gap: 4px;
        opacity: 0px; */
                }
                
                .freecancelation-content1 {
                    padding: 3px;
                    width: 720px;
                    height: 20px;
                    gap: 0px;
                    opacity: 0px;
                    color: black;
                    font-family: Open Sans;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 20px;
                    text-align: left;
                }
                
                .freecancelation-content2 {
                    font-family: Open Sans;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    text-align: left;
                    padding: 3px;
                    width: 720px;
                    height: 20px;
                    gap: 0px;
                    opacity: 0px;
                    color: black;
                }
                
                .main-detail {
                    width: 792px;
                    height: 368px;
                    margin-top: 32px;
                    /* padding-left: 120px; */
                }
                
                .content-detail {
                    width: 792px;
                    height: 88px;
                }
                
                .heading-detail {
                    width: 792px;
                    height: 48px;
                    margin: 0px;
                    padding-bottom: 16px;
                    box-sizing: border-box;
                }
                
                .paragraph-detail {
                    width: 792px;
                    height: 40px;
                    margin: 0px;
                    padding-bottom: 16px;
                    box-sizing: border-box;
                }
                
                .form-detail {
                    width: 792px;
                    height: 216px;
                    box-sizing: border-box;
                }
                
                .name-input {
                    width: 792px;
                    height: 56px;
                    border-radius: 16px;
                    box-sizing: border-box;
                    border: 1px solid black;
                    padding: 0px;
                }
                
                .twobox1 {
                    width: 792px;
                    height: 56px;
                    margin-top: 24px;
                    display: flex;
                    justify-content: space-between;
                }
                
                #country {
                    width: 384px;
                    height: 56px;
                    border-radius: 16px;
                    box-sizing: border-box;
                    border: 1px solid black;
                    padding: 0px;
                }
                
                .number-input {
                    width: 384px;
                    height: 56px;
                    border-radius: 16px;
                    box-sizing: border-box;
                    padding: 0px;
                    border: 1px solid black;
                }
                
                .twobox2 {
                    width: 792px;
                    height: 56px;
                    margin-top: 24px;
                    display: flex;
                    justify-content: space-between;
                }
                
                .mail-input {
                    width: 384px;
                    height: 56px;
                    border-radius: 16px;
                    box-sizing: border-box;
                    border: 1px solid black;
                    padding: 0px;
                }
                
                .confirm-mail-input {
                    width: 384px;
                    height: 56px;
                    border-radius: 16px;
                    box-sizing: border-box;
                    border: 1px solid black;
                    padding: 0px;
                }
                
                .main-detail1 {
                    width: 792px;
                    height: 288px;
                    margin-top: 24px;
                    /* padding-left: 120px; */
                }
                
                .content-detail {
                    width: 792px;
                    height: 88px;
                }
                
                .heading2-detail {
                    width: 792px;
                    height: 48px;
                    margin: 0px;
                    padding-bottom: 16px;
                    box-sizing: border-box;
                }
                
                .paragraph2-detail {
                    width: 792px;
                    height: 40px;
                    margin: 0px;
                    padding-bottom: 16px;
                    box-sizing: border-box;
                }
                
                .form2-detail {
                    width: 792px;
                    height: 136px;
                    box-sizing: border-box;
                }
                
                .twobox {
                    width: 792px;
                    height: 56px;
                    margin-top: 24px;
                    display: flex;
                    justify-content: space-between;
                }
                
                .input {
                    width: 384px;
                    height: 56px;
                    border-radius: 16px;
                    box-sizing: border-box;
                    border: 1px solid black;
                    padding: 0px;
                }
                
                #select {
                    width: 384px;
                    height: 56px;
                    border-radius: 16px;
                    box-sizing: border-box;
                    border: 1px solid black;
                    padding: 0px;
                }
                
                #multi-select {
                    width: 792px;
                    height: 56px;
                    border-radius: 16px;
                    box-sizing: border-box;
                    border: 1px solid black;
                    padding: 0px;
                    margin-top: 24px;
                }
                
                .main-detail2 {
                    width: 792px;
                    height: 874px;
                    margin-top: 32px;
                    /* padding-left: 120px; */
                    border-top: 1px solid #8B8D98;
                    border-bottom: 1px solid #8B8D98;
                }
                
                .content3-detail {
                    width: 792px;
                    height: 88px;
                }
                
                .heading3-detail {
                    width: 792px;
                    height: 48px;
                    margin: 0px;
                    padding-bottom: 16px;
                    box-sizing: border-box;
                }
                
                .paragraph3-detail {
                    width: 792px;
                    height: 40px;
                    margin: 0px;
                    padding-bottom: 16px;
                    box-sizing: border-box;
                }
                
                .form3-detail {
                    width: 792px;
                    height: 538px;
                    padding-top: 28px;
                    padding-left: 24px;
                    padding-right: 24px;
                    box-sizing: border-box;
                    margin-top: 24px;
                    border: 1px solid black;
                    border-radius: 16px;
                }
                
                .card-container {
                    width: 744px;
                    height: 24px;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 24px;
                }
                
                .credit-heading {
                    width: 146px;
                    height: 22px;
                    margin: 0;
                    display: flex;
                    align-items: center;
                }
                
                .card-content {
                    width: 193px;
                    height: 24px;
                    display: flex;
                    justify-content: space-between;
                }
                
                .cardradio {
                    width: 24px;
                    height: 24px;
                }
                
                .cards {
                    width: 744px;
                    height: 20px;
                    margin-top: 28px;
                    display: flex;
                }
                
                .visacontainer {
                    width: 35px;
                    height: 20px;
                    padding: 3.75px 10.26px 3.75px 10px;
                    gap: 0px;
                    border-radius: 4px;
                    border-top: 0.63px;
                    opacity: 0px;
                }
                
                .visa {
                    width: 26.25px;
                    height: 8.75px;
                    top: 5.63px;
                    left: 4.38px;
                    gap: 0px;
                    opacity: 0px;
                }
                
                .mastercontainer {
                    width: 35px;
                    height: 20px;
                    padding: 3.75px 10.26px 3.75px 10px;
                    gap: 0px;
                    border-radius: 4px;
                    border-top: 0.63px;
                    opacity: 0px;
                }
                
                .master {
                    width: 18.77px;
                    height: 11.25px;
                    top: 4.38px;
                    left: 8.13px;
                    gap: 0px;
                    opacity: 0px;
                }
                
                .dinnercontainer {
                    width: 35px;
                    height: 20px;
                    padding: 3.75px 10.26px 3.75px 10px;
                    gap: 0px;
                    border-radius: 4px;
                    border-top: 0.63px;
                    opacity: 0px;
                }
                
                .dinner {
                    width: 14.74px;
                    height: 12.5px;
                    top: 3.75px;
                    left: 10px;
                    gap: 0px;
                    opacity: 0px;
                }
                
                .paymentcontainer {
                    width: 744px;
                    height: 140px;
                    margin-top: 28px;
                    opacity: 0px;
                }
                
                .twobox3 {
                    width: 744px;
                    height: 56px;
                    opacity: 0px;
                    box-sizing: border-box;
                    display: flex;
                    justify-content: space-between;
                }
                
                .name-card-input {
                    width: 360px;
                    height: 56px;
                    border-radius: 16px;
                    border: 1px solid black;
                    padding: 0;
                    box-sizing: border-box;
                }
                
                .card-number-input {
                    width: 360px;
                    height: 56px;
                    border-radius: 16px;
                    border: 1px solid black;
                    padding: 0;
                    box-sizing: border-box;
                }
                
                .twobox4 {
                    width: 744px;
                    height: 56px;
                    margin-top: 24px;
                    box-sizing: border-box;
                    opacity: 0px;
                    display: flex;
                    justify-content: space-between;
                }
                
                .expiry-input {
                    width: 360px;
                    height: 56px;
                    border-radius: 16px;
                    border: 1px solid black;
                    padding: 0;
                    box-sizing: border-box;
                }
                
                .cvv {
                    width: 360px;
                    height: 56px;
                    border-radius: 16px;
                    border: 1px solid black;
                    padding: 0;
                    box-sizing: border-box;
                }
                
                .totalcontainer {
                    width: 744px;
                    height: 230px;
                    margin-top: 32px;
                    border-top: 1px solid black;
                    opacity: 0px;
                    box-sizing: border-box;
                }
                
                .totalcontent {
                    width: 744px;
                    height: 54px;
                    margin-top: 2px;
                    opacity: 0px;
                }
                
                .totalrupee {
                    width: 744px;
                    height: 34px;
                    display: flex;
                }
                
                .totalpayable {
                    width: 612px;
                    height: 34px;
                    display: flex;
                }
                
                .payable {
                    width: 122px;
                    height: 34px;
                    font-family: Open Sans;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 26px;
                    text-align: left;
                    margin: 0;
                }
                
                .xx {
                    width: 122px;
                    height: 34px;
                    font-family: Open Sans;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 26px;
                    text-align: left;
                    margin: 0;
                }
                
                .piggybank {
                    width: 132px;
                    height: 28px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    /* padding-top: 4px;
            padding-right: 8px;
            padding-bottom: 4px;
            padding-left: 8px; */
                    gap: 4px;
                    background-color: #299764;
                    border-radius: 1000px;
                    opacity: 0px;
                }
                
                .piggycontainer {
                    width: 14px;
                    height: 14px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                
                .piggy {
                    width: 13.56px;
                    height: 10.5px;
                    top: 1.75px;
                    gap: 0px;
                    opacity: 0px;
                    color: #E9F9EE;
                }
                
                .price {
                    width: 98px;
                    height: 18px;
                    margin: 0;
                    color: #E9F9EE;
                    font-family: Open Sans;
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 18px;
                    text-align: left;
                }
                
                .paracontainer {
                    margin: 0;
                    display: flex;
                    width: 178px;
                    height: 18px;
                    opacity: 0px;
                }
                
                .para {
                    width: 154px;
                    height: 18px;
                    margin: 0;
                    font-family: Open Sans;
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 18px;
                    text-align: left;
                    color: #60646C;
                }
                
                .inf {
                    width: 16px;
                    height: 16px;
                    padding: 1.5px;
                    gap: 0px;
                    opacity: 0px;
                }
                
                .infimage {
                    width: 13px;
                    height: 13px;
                    top: 1.5px;
                    left: 1.5px;
                }
                
                .buttoncontainer {
                    width: Fill (744px)px;
                    height: Hug (96px)px;
                    margin-top: 20px;
                    opacity: 0px;
                }
                
                .buttonpara {
                    width: 744px;
                    height: 20px;
                    gap: 0px;
                    opacity: 0px;
                    font-family: Open Sans;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 20px;
                    text-align: left;
                }
                
                .button {
                    width: 220px;
                    height: 56px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    /* padding: var(--spacing--sp-16) var(--spacing--sp-20) var(--spacing--sp-16) var(--spacing--sp-20);
            gap: var(--spacing--sp-12); */
                    border-radius: 16px;
                    opacity: 0px;
                    background-color: black;
                }
                
                .lck {
                    width: 22px;
                    height: 22px;
                    padding: 0.69px 2.75px 2.75px 2.75px;
                    gap: 0px;
                    opacity: 0px;
                    color: #EDEEF0;
                }
                
                .confirmpay {
                    width: 125px;
                    height: 24px;
                    gap: 0px;
                    opacity: 0px;
                    font-family: Open Sans;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 24px;
                    text-align: center;
                    color: #EDEEF0;
                }
                
                .applecontainer {
                    width: 792px;
                    height: 72px;
                    margin-top: 24px;
                    border-radius: 16px;
                    border: 1px solid #D3D4DB;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-sizing: border-box;
                }
                
                .applecontent {
                    width: 744px;
                    height: 24px;
                    display: flex;
                    justify-content: space-between;
                }
                
                .applepay {
                    width: 151px;
                    height: 24px;
                    gap: 15px;
                    display: flex;
                }
                
                .apple {
                    width: 35px;
                    height: 24px;
                }
                
                .comingsoon {
                    width: 101px;
                    height: 22px;
                    margin: 0;
                    font-family: Open Sans;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 22px;
                    text-align: left;
                    color: #8B8D98;
                }
                
                .circle {
                    width: 24px;
                    height: 24px;
                    border-top: 1px;
                }
                
                .bookingsummarymain {
                    width: 384px;
                    height: 866px;
                    border-radius: 24px;
                    border: 1px solid #DDDDE3;
                    margin-left: 16px;
                }
                
                .bookingsummarycontent {
                    width: 384px;
                    height: 576px;
                    /* gap: var(--spacing--sp-12); */
                }
                
                .bookingsummary {
                    width: 384px;
                    height: 508px;
                    padding-top: 16px;
                    padding-left: 16px;
                    padding-right: 16px;
                    box-sizing: border-box;
                    /* gap: var(--spacing--sp-16); */
                }
                
                .photocontainer {
                    padding-top: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 352px;
                    height: 198px;
                    background-image: url(../src/assets/mountain.jpeg);
                    background-size: cover;
                    background-position: center;
                    border-radius: 16px;
                }
                
                .bestseller {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-sizing: border-box;
                    width: 91px;
                    height: 26px;
                    gap: 6px;
                    /* padding-top: 4px;
            padding-left: 8px;
            padding-bottom: 4px;
            padding-right: 8px; */
                    margin-left: 8px;
                    margin-top: 4px;
                    border-radius: 4px;
                    background-color: white;
                }
                
                .trophy {
                    height: 14px;
                    width: 14px;
                }
                
                .trophyheading {
                    width: 57px;
                    height: 18px;
                    font-family: Open Sans;
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 18px;
                    text-align: left;
                    margin: 0;
                }
                
                .arrow {
                    width: 352pxpx;
                    height: 32px;
                    padding-left: 12px;
                    padding-right: 12px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                
                .leftarrow {
                    width: Hug 32px;
                    height: Hug 32px;
                }
                
                .rightarrow {
                    width: Hug 32px;
                    height: Hug 32px;
                }
                
                .shift {
                    width: 352px;
                    height: 24px;
                    display: flex;
                    justify-content: center;
                }
                
                .shiftcontainer {
                    width: 108px;
                    height: 8px;
                    padding-bottom: 16px;
                    padding-left: 12px;
                    padding-right: 16px;
                    display: flex;
                    justify-content: space-between;
                }
                
                .circle6 {
                    height: 6px;
                    width: 6px;
                }
                
                .starcontainer {
                    width: 352px;
                    height: 278px;
                    margin-top: 24px;
                }
                
                .starcontent {
                    width: 352px;
                    height: 66px;
                    margin-top: 2px;
                }
                
                .star {
                    width: 352px;
                    height: 20px;
                    display: flex;
                }
                
                .starrating {
                    width: 76px;
                    height: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                
                .star1 {
                    width: 14px;
                    height: 14px;
                    gap: 10px;
                    opacity: 0px;
                }
                
                .rating {
                    width: 20px;
                    height: 20px;
                    color: #1C2024;
                    margin: 0;
                    gap: 0px;
                    opacity: 0px;
                    font-family: Open Sans;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 20px;
                    text-align: right;
                }
                
                .rating1 {
                    width: 36px;
                    height: 20px;
                    color: #60646C;
                    margin: 0;
                    gap: 0px;
                    opacity: 0px;
                    font-family: Open Sans;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    text-align: right;
                }
                
                .dot {
                    width: 6px;
                    height: 20px;
                    margin: 0;
                    gap: 0px;
                    opacity: 0px;
                    color: #60646C;
                    font-family: Open Sans;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    text-align: right;
                }
                
                .category {
                    width: 262px;
                    height: 20px;
                    gap: 0px;
                    opacity: 0px;
                    margin: 0;
                }
                
                .categorycontent {
                    margin: 0;
                    gap: 0px;
                    font-family: Open Sans;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    text-align: left;
                    color: #60646C;
                }
                
                .starhead {
                    width: 352px;
                    height: 44px;
                    gap: 0px;
                    opacity: 0px;
                }
                
                .starheading {
                    font-family: Open Sans;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 22px;
                    text-align: left;
                    color: black;
                    margin: 0;
                }
                
                .cardsummary {
                    width: 352px;
                    height: 188px;
                    margin-top: 8px;
                }
                
                .ticketcon {
                    width: 352px;
                    height: 28px;
                    gap: 10px;
                    opacity: 0px;
                    display: flex;
                }
                
                .ticklogo {
                    width: 20px;
                    height: 20px;
                }
                
                .tickhead {
                    margin: 0;
                    width: 322px;
                    height: 20px;
                    padding-bottom: 8px;
                    font-family: Open Sans;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 20px;
                    text-align: left;
                    color: black;
                }
                
                .calendarcon {
                    display: flex;
                    gap: 10px;
                    width: 352px;
                    height: 54px;
                    margin-top: 10px;
                    opacity: 0px;
                }
                
                .calendarhead {
                    width: 322px;
                    height: 54px;
                }
                
                .calendar1 {
                    width: 322px;
                    height: 28px;
                    margin: 0;
                    font-family: Open Sans;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 20px;
                    text-align: left;
                }
                
                .calendarpara {
                    margin: 0;
                    width: 322px;
                    height: 26px;
                    padding-bottom: 8px;
                    opacity: 0px;
                    font-family: Open Sans;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 18px;
                    text-align: left;
                    color: #60646C;
                }
                
                .paymentsummary {
                    box-sizing: border-box;
                    width: 384px;
                    height: 56px;
                    margin-top: 16px;
                    border-top: 1px solid black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0px;
                }
                
                .paymentbox {
                    box-sizing: border-box;
                    width: 384px;
                    height: 20px;
                    padding-left: 16px;
                    padding-right: 16px;
                    display: flex;
                    justify-content: space-between;
                }
                
                .paymenthead {
                    margin: 0;
                    width: 164px;
                    height: 20px;
                    gap: var(--spacing--sp-8);
                    opacity: 0px;
                    color: #60646C;
                    font-family: Open Sans;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 20px;
                    text-align: left;
                }
                
                .plus {
                    margin: 0;
                    font-weight: bold;
                    width: 16px;
                    height: 16px;
                    padding: 1.75px 0px 0px 0px;
                    gap: 0px;
                    opacity: 0px;
                    top: 1.75px;
                    left: 1.75px;
                    color: #60646C;
                }
                
                .paymentcon {
                    width: 384px;
                    height: 290px;
                    border-top: 1px;
                    opacity: 0px;
                }
                
                .paymentcont {
                    width: 352px;
                    height: 94px;
                    padding-top: 16px;
                    padding-left: 16px;
                    padding-right: 16px;
                    padding-bottom: 32px;
                }
                
                .payableprice {
                    width: 352px;
                    height: 56px;
                }
                
                .payable1 {
                    width: 352px;
                    height: 34px;
                    display: flex;
                    justify-content: space-between;
                }
                
                .totalpayhead {
                    width: 117px;
                    height: 34px;
                    margin: 0;
                    font-family: Open Sans;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 26px;
                    text-align: left;
                }
                
                .totalpaydollar {
                    width: 44px;
                    height: 34px;
                    margin: 0;
                    font-family: Open Sans;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 26px;
                    text-align: right;
                }
                
                .piggybank1 {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    width: 135px;
                    height: 22px;
                    padding-left: 6px;
                    padding-right: 6px;
                    /* margin-top: 4px; */
                    border-radius: 1000px;
                    border: 1px solid black;
                    background-color: #E9F9EE;
                    ;
                }
                
                .piggy1 {
                    width: 14px;
                    height: 14px;
                    padding: 1.75px 0.44px 1.75px 0px;
                    color: #299764;
                }
                
                .price1 {
                    margin: 0;
                    width: 105px;
                    height: 18px;
                    font-family: Open Sans;
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 18px;
                    text-align: left;
                    color: #299764;
                }
                
                .paracontainer1 {
                    margin-top: 8px;
                    width: 178px;
                    height: 18px;
                    display: flex;
                }
                
                .buttoncon {
                    width: 352px;
                    height: 116px;
                    margin-top: 20px;
                    padding-left: 16px;
                    padding-right: 16px;
                }
                
                .buttoncont {
                    margin: 0;
                    width: 352px;
                    height: 40px;
                    gap: 0px;
                    opacity: 0px;
                    font-family: Open Sans;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 20px;
                    text-align: left;
                }
                
                .button1 {
                    width: 352px;
                    height: 56px;
                    gap: 12px;
                    padding-top: 16px;
                    padding-right: 20px;
                    padding-bottom: 16px;
                    padding-left: 20px;
                    margin-top: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 16px;
                    opacity: 0px;
                    background-color: black;
                }
                
                .lck1 {
                    width: 22px;
                    height: 22px;
                    padding: 0.69px 2.75px 2.75px 2.75px;
                    gap: 0px;
                    opacity: 0px;
                }
                
                .confirmpay1 {
                    width: 125px;
                    height: 24px;
                    gap: 0px;
                    opacity: 0px;
                    font-family: Open Sans;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 24px;
                    text-align: left;
                    color: #EDEEF0;
                    ;
                }
                
                .faqmaincontainer {
                    width: 1440px;
                    height: 686px;
                    /* padding-left: 120px; */
                    /* padding-right: 120px; */
                    opacity: 0px;
                }
                
                .faqcontainer {
                    box-sizing: border-box;
                    display: flex;
                    width: 1200px;
                    height: 654px;
                }
                
                .faqsection {
                    width: 486px;
                    height: 290px;
                }
                
                .faqcontent {
                    width: 486px;
                    height: 88px;
                }
                
                .faqhead {
                    margin: 0;
                    width: 486px;
                    height: 48px;
                    gap: var(--spacing--sp-0);
                    opacity: 0px;
                    font-family: Open Sans;
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 32px;
                    letter-spacing: 0.006em;
                    text-align: left;
                }
                
                .faqpara {
                    width: 446px;
                    height: 40px;
                    /* padding: var(--spacing--sp-0) var(--spacing--sp-0) var(--spacing--sp-16) var(--spacing--sp-0); */
                    gap: var(--spacing--sp-0);
                    opacity: 0px;
                    margin: 0;
                    font-family: Open Sans;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    text-align: left;
                    color: #60646C;
                }
                
                .faqhelpcontainer {
                    display: flex;
                    width: 446px;
                    height: 170px;
                    padding: 24px;
                    border-radius: 16px;
                }
                
                .faqhelp {
                    width: 240.86px;
                    height: 122px;
                    margin-right: 20px;
                    opacity: 0px;
                }
                
                .faqcon {
                    margin: 0;
                    width: 240.86px;
                    height: 52px;
                    gap: 0px;
                    opacity: 0px;
                    color: #1C2024;
                    font-family: Open Sans;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 26px;
                    text-align: left;
                }
                
                .faqbutton {
                    display: flex;
                    align-items: center;
                    width: 129px;
                    height: 50px;
                    padding-top: 14px;
                    padding-right: 16px;
                    padding-bottom: 14px;
                    padding-left: 16px;
                    margin-top: 18px;
                    border-radius: 12px;
                    background-color: #000000;
                }
                
                .faqbuttonpara {
                    margin: 0;
                    width: 97px;
                    height: 22px;
                    gap: 0px;
                    opacity: 0px;
                    color: #EDEEF0;
                    font-family: Open Sans;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 22px;
                    text-align: left;
                }
                
                .faqlogo {
                    width: 157.14px;
                    height: 100px;
                    padding: 0px 6.99px 0px 6.99px;
                    gap: 0px;
                    opacity: 0px;
                }
                
                .faqq {
                    box-sizing: border-box;
                    width: 690px;
                    height: 654px;
                    gap: var(--spacing--sp-24);
                }
                
                .faq1 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 690px;
                    height: 74px;
                    padding: var(--spacing--sp-24) var(--spacing--sp-28) var(--spacing--sp-24) var(--spacing--sp-28);
                    border-radius: 16px;
                    border: 1px solid #B9BBC6;
                    opacity: 0px;
                }
                
                .faq1con {
                    display: flex;
                    width: 634px;
                    height: 26px;
                    gap: 20px;
                }
                
                .faq1plus {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0;
                    width: 24px;
                    height: 24px;
                    font-size: 1.5rem;
                    padding: 2.63px 0px 0px 0px;
                    font-weight: bold;
                    color: #60646C;
                }
                
                .faq1para {
                    width: 586px;
                    height: 26px;
                    font-family: Open Sans;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 26px;
                    text-align: left;
                    color: #1C2024;
                    margin: 0;
                }
                
                .faqq2 {
                    width: 690px;
                    height: 262px;
                    margin-top: 22px;
                    padding: var(--spacing--sp-24) var(--spacing--sp-28) var(--spacing--sp-24) var(--spacing--sp-28);
                    border-radius: 16px;
                    border: 1px solid#B9BBC6;
                    opacity: 0px;
                }
                
                .faq2 {
                    width: 634px;
                    height: 214px;
                    margin: 20px;
                }
                
                .faq2con {
                    display: flex;
                    width: 634px;
                    height: 26px;
                    gap: 24px;
                    opacity: 0px;
                }
                
                .faq2plus {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0;
                    width: 24px;
                    height: 24px;
                    /* font-size: 1.5rem; */
                    padding: 2.63px 0px 0px 0px;
                    font-weight: bold;
                    color: #60646C;
                }
                
                .faq2para {
                    width: 586px;
                    height: 26px;
                    font-family: Open Sans;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 26px;
                    text-align: left;
                    color: #1C2024;
                    margin: 0;
                }
                
                .faq2para1 {
                    box-sizing: border-box;
                    width: 634px;
                    height: 168px;
                    padding-bottom: 24px;
                    padding-left: 48px;
                    margin-top: 24px;
                    font-family: Open Sans;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    text-align: left;
                    color: #60646C;
                }
                
                .faq3 {
                    display: flex;
                    margin-top: 22px;
                    justify-content: center;
                    align-items: center;
                    width: 690px;
                    height: 74px;
                    padding: var(--spacing--sp-24) var(--spacing--sp-28) var(--spacing--sp-24) var(--spacing--sp-28);
                    border-radius: 16px;
                    border: 1px solid #B9BBC6;
                    opacity: 0px;
                }
                
                .footercont {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-end;
                    margin-top: 24px;
                    width: 1440px;
                    height: 316px;
                    background-color: black;
                }
                
                .footerlogo {
                    width: 1200px;
                    height: 48px;
                    opacity: 0px;
                    margin-bottom: 60px;
                }
                
                .footerimg {
                    width: 189.82px;
                    height: 48px;
                    gap: 0px;
                    opacity: 0px;
                }
                
                .footerlist {
                    border-top: 1px solid white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 1440px;
                    height: 52px;
                    margin-bottom: 24px;
                }
                
                .footer {
                    width: 1200px;
                    height: 20px;
                }
                
                .footercon {
                    list-style: none;
                    padding: 0;
                    gap: 23px;
                    margin: 0;
                    display: flex;
                    width: 585px;
                    height: 20px;
                    opacity: 0px;
                    color: white;
                }