/* .web {
    width: 792px;
    height: 2142px;
    gap: var(--spacing--sp-64);
    opacity: 0px;
}

.web2 {
    width: 384px;
    height: 866px;
} */

body {
    box-sizing: border-box;
}

.main {
    /* width: 1200px;
    height: 2142px; */
    display: flex;
}

.mainweb {
    box-sizing: border-box;
}